---
import { JsonProducts } from "../../data/JsonProducts.js";


---
<section class="max-w-screen-2xl w-full mt-[50px] p-[20px]">
    <h3 class="text-center font-bold text-[40px] mb-[30px]">Our Products</h3>
    <div class="parent grid gap-5 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1">

        {JsonProducts.map((JsonProduct, index) => 
            <div class={`relative div${index + 1}`}>
                <div class="image_container w-full h-[300px] bg-slate-200 relative">
                    <img src={JsonProduct.detailsProducto.image} alt={JsonProduct.detailsProducto.nombreProducto} class="absolute object-cover h-full w-full" />                    
                    {JsonProduct.detalles === 'true' && JsonProduct.detalles_number === '1' && (
                        <div class="absolute right-5 top-5 w-[50px] h-[50px] rounded-full bg-[#E97172] flex justify-center items-center text-white text-[14px]">{JsonProduct.descuentoProducto.cantidad_descuento}</div>
                    )}
                    {JsonProduct.detalles === 'true' && JsonProduct.detalles_number === '0' && (
                        <div class="absolute right-5 top-5 w-[50px] h-[50px] rounded-full bg-[#2EC2AC] flex justify-center items-center text-white text-[14px]">{JsonProduct.detailsProducto.new_product}</div>
                    )}
                </div>
                <div class="p-[20px] flex flex-col gap-2">
                    <span class="text-[25px] font-semibold">{JsonProduct.detailsProducto.nombreProducto}</span>
                    <span>{JsonProduct.detailsProducto.descripcion}</span>
                    <span class="font-bold text-[18px]">Rp {JsonProduct.detailsProducto.precio}
                        {JsonProduct.descuentoProducto.aplica == '1' && (
                            <span class="ml-[10px] text-[14px] font-semibold text-black/30 line-through">Rp {JsonProduct.descuentoProducto.original_precio}</span>
                        )}
                    </span>                    
                </div>
                <div class="hover_menu flex justify-center items-center flex-col gap-3">
                    <button class="bg-white px-[20px] py-[10px]">Add to card</button>
                    <div class="flex justify-center items-center gap-5">
                        <span class="flex justify-center items-center gap-2 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                            </svg>Share
                        </span>
                        <span class="flex justify-center items-center gap-2 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                            </svg>Like
                        </span>
                    </div>
                </div>
            </div>
        )}     

    </div> 
    <div class="w-full flex justify-center items-center pt-[70px]">
        <button class="border border-1 border-[#E89F72] text-[#E89F72] px-[70px] py-[10px]">Show More</button>   
    </div>
</section>



<style>    
    .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
        background-color: #f0f0f0;
    }
        
  



    .div1:hover .hover_menu , .div2:hover .hover_menu, .div3:hover .hover_menu, .div4:hover .hover_menu, .div5:hover .hover_menu, .div6:hover .hover_menu, .div7:hover .hover_menu, .div8:hover .hover_menu {
        display: flex;
    }

    .hover_menu {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.355);
        top: 0;
        color: #E89F72;
    }
</style>